@page "/"


<SfMaps>
    <MapsTitleSettings Text="Covid-19 Affected Countries">
    </MapsTitleSettings>
    <MapsLayers>
        <MapsLayer ShapeData='new {dataOptions= "https://cdn.syncfusion.com/maps/map-data/world-map.json"}'
                   TValue="CountryData" DataSource="@StatusDetails"
                   ShapePropertyPath='new string[] {"name"}' ShapeDataPath="Name">
            <MapsDataLabelSettings Visible="true" LabelPath="Name"
                                   IntersectionAction="IntersectAction.Trim">
                <LabelTemplate>
                    @{
                        var MapData = context as CountryData;
                        if (MapData.SeverityLevel == "High")
                        {
                            <p>High</p>
                        }
                    }
                </LabelTemplate>
            </MapsDataLabelSettings>
            <MapsShapeSettings ColorValuePath="SeverityLevel" Fill="#E5E5E5">
                <MapsShapeColorMappings>
                    <MapsShapeColorMapping Color='new string[] {"#a69d70"}' Value="High">
                    </MapsShapeColorMapping>
                    <MapsShapeColorMapping Color='new string[] {"#A4D6AD"}' Value="Moderate">
                    </MapsShapeColorMapping>
                    <MapsShapeColorMapping Color='new string[] {"#DEEBAE"}' Value="Low">
                    </MapsShapeColorMapping>
                </MapsShapeColorMappings>
            </MapsShapeSettings>
        </MapsLayer>
    </MapsLayers>
</SfMaps>

@code {

    public class CountryData
    {
        public string Name { get; set; }
        public string SeverityLevel { get; set; }
    }

    public List<CountryData> StatusDetails = new List<CountryData>
{
         new CountryData { Name= "United States", SeverityLevel= "High"},
         new CountryData { Name= "India", SeverityLevel= "High" },
         new CountryData { Name= "Brazil", SeverityLevel= "High"},
         new CountryData { Name= "United Kingdom", SeverityLevel= "High"},
         new CountryData { Name= "Russia", SeverityLevel= "High"},
         new CountryData { Name= "Turkey", SeverityLevel= "Moderate"},
         new CountryData { Name= "France", SeverityLevel= "Moderate"},
         new CountryData { Name= "Iran", SeverityLevel= "Moderate"},
         new CountryData { Name= "Spain", SeverityLevel= "Moderate"},
         new CountryData { Name= "Italy", SeverityLevel= "Low"},
         new CountryData { Name= "Argentina", SeverityLevel= "Low"},
         new CountryData { Name= "Colombia", SeverityLevel= "Low"},
         new CountryData { Name= "Indonesia", SeverityLevel= "Low"}
    };

}
